**Course:** SMM  
**Assignment:** 3

## Team Members
- **Muhammad Rehan** - 02-205252-012  
- **Arzoo Ghani Khan** - 02-205252-003

## Question 2

### Dataset
Raw dataset from: [Kaggle â€” hajramohsin/pakistan-air-quality-pollutant-concentrations](https://www.kaggle.com/hajramohsin/pakistan-air-quality-pollutant-concentrations)

# 1. Clean Data and Prepare Final Dataset

In [1]:
import pandas as pd
import os
from datetime import datetime
import numpy as np
 
# Define file paths
data_dir = 'raw_dataset'
files = ['islamabad_complete_data.xlsx', 'karachi_complete_data.xlsx', 'lahore_complete_data.xlsx']
cities = ['Islamabad', 'Karachi', 'Lahore']
 
dfs = []
for file, city in zip(files, cities):
    df = pd.read_excel(os.path.join(data_dir, file))
    # Extract date from datetime
    df['date'] = pd.to_datetime(df['datetime']).dt.date
    # Add city column
    df['city'] = city
    # Rename columns
    df = df.rename(columns={
        'components.pm2_5': 'pm2_5',
        'components.pm10': 'pm10',
        'components.no2': 'no2',
        'temperature_2m': 'temp',
        'relative_humidity_2m': 'humidity'
    })
    # Select relevant columns
    df = df[['date', 'city', 'pm2_5', 'pm10', 'no2', 'temp', 'humidity']]
    dfs.append(df)
 
# Combine all dataframes
combined_df = pd.concat(dfs, ignore_index=True)
 
# Fill missing values with mean of respective columns
for col in ['pm2_5', 'pm10', 'no2', 'temp', 'humidity']:
    combined_df[col] = combined_df[col].fillna(combined_df[col].mean())
    

combined_df['date'] = pd.to_datetime(combined_df['date'])

In [2]:
combined_df.describe()

,date,pm2_5,pm10,no2,temp,humidity
count,84735,84735.000000,84735.000000,84735.000000,84735.000000,84735.000000
mean,2023-04-12 10:26:49.771641344,134.256753,178.642318,55.410441,24.547631,60.964218
min,2021-08-24 00:00:00,2.210000,3.810000,0.510000,0.000000,4.000000
25%,2022-06-16 00:00:00,34.570000,64.660000,12.510000,19.300000,44.000000
50%,2023-04-14 00:00:00,76.470000,115.090000,35.640000,26.400000,64.000000
75%,2024-02-06 00:00:00,167.860000,222.385000,80.200000,30.100000,79.000000
max,2024-12-01 00:00:00,1965.050000,2183.340000,833.510000,46.200000,100.000000
std,NaN,159.014898,182.374891,58.064566,7.821365,22.296581

In [3]:
combined_df.head()

        date       city  pm2_5   pm10    no2  temp  humidity
0 2021-08-24  Islamabad  66.96  87.07  27.76  29.7        55
1 2021-08-24  Islamabad  64.50  82.37  24.33  29.4        56
2 2021-08-24  Islamabad  64.21  80.38  39.41  28.9        58
3 2021-08-24  Islamabad  64.75  79.55  51.41  28.4        60
4 2021-08-24  Islamabad  59.86  71.18  27.08  28.1        62

In [4]:
combined_df.columns

Index(['date', 'city', 'pm2_5', 'pm10', 'no2', 'temp', 'humidity'], dtype='object')

In [5]:
combined_df['city'].unique()

array(['Islamabad', 'Karachi', 'Lahore'], dtype=object)

In [6]:
# Save cleaned dataframe
combined_df.to_csv('cleaned_data.csv', index=False)